@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-unreal {
        @apply text-white bg-indigo-700 font-bold py-3 px-8
         rounded-md shadow-lg
          hover:bg-teal-300 hover:text-black hover:border-black
         focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-opacity-75 transition-transform duration-300 ease-in-out
        dark:bg-rose-500 dark:text-white dark:hover:bg-green-400 dark:hover:text-black;

    }

    .btn-secondary {
        @apply font-bold py-3 px-8 rounded shadow-lg
         text-indigo-700 bg-white border-indigo-700
         hover:text-teal-400 hover:border-teal-400
          focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75 
          dark:text-rose-600 dark:border-rose-600
          dark:hover:text-green-600 dark:hover:border-green-600;
          
    }

    .section-title {
        @apply text-4xl md:text-5xl font-extrabold text-gray-800 mb-8 text-center;
    }

    .card {
        @apply bg-white rounded-lg shadow-lg p-6
         dark:bg-gray-700 
        hover:scale-125 transition-transform duration-300 ease-in-out;
        
    }
    .DarkMode{
      @apply text-white bg-gray-800 font-bold py-3 px-8
       rounded-md shadow-lg
        hover:bg-teal-300 hover:text-black hover:border-black
       focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-opacity-75 transition-transform duration-300 ease-in-out
      dark:bg-rose-500 dark:text-white dark:hover:bg-green-400 dark:hover:text-black;

    }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-mono text-gray-700;
  }
}
